package main

templ Shell(app templ.Component) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Shorter - URL Shortener</title>
			<link rel="stylesheet" href="/static/styles.css"/>
		</head>
		<body class="dark:bg-zinc-800 dark:text-zinc-100 min-h-screen overflow-x-hidden w-screen">
			<div class="flex items-center justify-center h-screen">
				@app
			</div>
		</body>
	</html>
}

templ NotFound() {
	<div class="text-4xl font-bold">404 Not Found</div>
}
